<footer class="bg-white dark:bg-gray-900">
    <div class="container mx-auto px-6 py-2">


        <div class="flex flex-col items-center justify-between sm:flex-row">
            <a routerLink="/main"
                class="text-2xl font-bold text-gray-800 transition-colors duration-300 hover:text-gray-700 dark:text-white dark:hover:text-gray-300">CodeMate</a>

            <p class="mt-4 text-sm text-gray-500 dark:text-gray-300 sm:mt-0">© Copyright 2021. All Rights Reserved.
            </p>
        </div>
    </div>
</footer>